@import 'modern-css-reset';


/* styling for mobile */
@media screen and (min-width: 340px) {
    @import 'layout/base';
}

/*styling för tablet*/
@media screen and (min-width: 650px) {
    @import 'layout/tablet';
}

/*styling för desktop*/
@media screen and (min-width: 1024px) {
    @import 'layout/desktop';
}