$col-white: #fff;
$col-light: #f0e4d4;
$col-beige: #dcbfa1;
$col-gray-brown: #7e6e5f;
$col-dark-brown: #3f2d21;
$col-accent-dark: #435046;
$col-accent-light: #8db4a2;
$col-black: #212427;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Urbanist', sans-serif;
  letter-spacing: 0.1rem;
  background: $col-beige;
  color: $col-dark-brown;
}

section {
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto;

  h2 {
    text-align: center;
    margin-bottom: 5rem;
  }
}

.landing-page {
  background: url('../img/rykande-gott-kaffe.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  color: $col-light;

  h1 {
    text-align: center;
    padding-top: 5rem;
    font-size: 3rem;
    font-weight: lighter;
  }

  a {
    padding: 1rem 2rem;
    background: $col-dark-brown;
    border-radius: 2.5rem;
    border: 3px solid $col-beige;
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    color: $col-light;
    text-decoration: none;
    font-size: 1.3rem;
  }
}

.products {
  .product-grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    place-items: center;
  }

  .product-card {
    height: 20rem;
    width: 13rem;
    background: $col-light;
    border-radius: 1rem;
    overflow: hidden;

    .product-info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 50%;
      padding: 0.5rem;

      .product-selection {
        display: flex;
        justify-content: space-between;

        button {
          background: $col-dark-brown;
          border: 1px solid $col-beige;
          color: $col-light;
          border-radius: 0.5rem;
        }
      }
    }

    .image {
      height: 50%;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.basket {
  max-width: 600px;

  h2 {
    text-align: center;
  }

  button {
    background: $col-dark-brown;
    border: 1px solid $col-beige;
    color: $col-light;
    border-radius: 0.5rem;
  }

  .item {
    display: flex;
    align-items: center;
    width: 100%;
    background: $col-light;
    border-radius: 0.8rem;
    padding: 0.5rem;

    img {
      margin-right: 1rem;
      border-radius: 0.8rem;
    }

    .item-content {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .item-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .item-selection {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        right: 0;

        button {
          height: 2rem;
          width: 1.5rem;
          border-radius: 0.5rem;
          border: none;
        }

        p {
          background: $col-white;
          width: 1.5rem;
          margin: 0.2rem;
          text-align: center;
          border-radius: 3px;
        }
      }
    }
  }
}

#form span, #invoice span, #creditCard span {
    color: red;
    font-size: 1.5rem;
}

#cvvError {
  position: relative;
  left: -160px;
  top: -60px;
}

#cardNrError {
  position: relative;
  top: 30px;
}

.fa-solid {
    color: seagreen;
}

.customer-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  color: $col-black;
}

.customer-email {
  margin-bottom: 30px;
}

.first-name, .last-name {
  margin-top: 20px;
}

.customer-info h2 {
    margin: 1.25rem 0;
    padding: 1rem;
}

.contact-form {
  text-align: left;
  padding: 0.625rem;
  border: 1px solid black;
  border-radius: 6px;
  max-width: 50rem;
  min-height: 25vh;
}

.contact-form input {
  min-height: 50px;
  border-radius: 6px;
  border: 1px solid black;
}

.first-name,
.last-name,
.zip,
.city,
.portcode,
.phone {
  display: inline-block;
  width: 45%;
}

.last-name,
.city,
.phone {
  float: right;
}

.customer-info input {
    width: 100%;
    padding: 0.613rem;
    margin-top: 0.6rem;  
}

/* Välja Betalsätt */

.invoice {
  margin-bottom: 50px;
}

.payment-type{
    text-align: left;  
}

.payment{
    position: relative;
    left: 30px;
    top: 20px;
    bottom: 30px;
    font-size: 1.2rem; 
}

#paymentType_invoice {
    position: relative;
    left: -60px;
    height: 20px;
    top: -25px;
}

#paymentType_card{
    position: relative;
    left: -60px;
    height: 20px; 
    top: -25px;  
}

.payment-section {
  border: 1px solid black;
  border-radius: 6px;
  min-height: 30vh;
  margin-top: 1.25rem;
}

/* Formulär personnr faktura */

.invoice-info {
  margin-top: 30px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.3rem;
  margin-bottom: 30px;
}

/* Kort-formulär */

.credit-card, .invoice-details {
    width: 380px;
    min-height: 400px;
    margin: 80px auto 30px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,.10);
    display: none;
}

.form-header {
  border-bottom: 1px solid #e1e8ee;
  padding: 20px 0;
  text-align: center;
}

.payment-body {
  padding: 0 30px;
  
}

/* Title */
.title {
  font-size: 1.25rem;
}

/* Card Number */
.card-number input {
  width: 100%;
  margin: 40px 0 30px 0;
  padding: 10px;
}

/* Date Field */
.month select,
.year select, 
.cvv-input input{
  width: 145px;
  margin-bottom: 20px;
  padding: 10px;
  font-weight: 300;
}

.month select, .cvv-input input {
  float: left;
}

.year select {
  float: right;
}

/* Card Verification Field */

.cvv-details {
  margin-top: 15px;
  font-size: 0.8rem;
  line-height: 16px;
  float: right;
}



/* Buttons Section */
.card-btn,
.invoice-btn {
  cursor: pointer;
  font-size: 1.1rem;
  width: 100%;
  padding: 10px;
  margin: 40px 0;
  border-color: transparent;
  border-radius: 6px;
  background: $col-dark-brown;
  color: white;
}

.card-btn {
  margin-top: 20px;
}

.checkBoxes {
  display: flex;
  flex-direction: column;
}

#personalData, #newsLetter {
  position: relative;
  right: -230px;
  top: -35px;
  height: 20px;
}
.newsletter, .personal-data {
  margin-left: 10px;
}

.newsletter {
  margin-top: 50px;
}


#buy-button, #eraseBtn{
  margin: 60px 40px 10px 40px;
  padding: 20px 100px;
  background-color: $col-dark-brown;
  color: #fff;
  border-radius: 10px;
  font-size: 1.4rem;
}

#eraseBtn {
  position: relative;
  right: -100px;
  padding: 10px;
  width: 180px;
}

.btn-section {
  display: flex;
  flex-direction: column;
}

