$col-white: #fff;
$col-light: #f0e4d4;
$col-beige: #dcbfa1;
$col-gray-brown: #7e6e5f;
$col-dark-brown: #3f2d21;
$col-accent-dark: #435046;
$col-accent-light: #8db4a2;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Urbanist', sans-serif;
  letter-spacing: 0.1rem;
  background: $col-beige;
  color: $col-dark-brown;
}

section {
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto;

  h2 {
    text-align: center;
    margin-bottom: 5rem;
  }
}

.landing-page {
  background: url('../img/rykande-gott-kaffe.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  color: $col-light;

  h1 {
    text-align: center;
    padding-top: 5rem;
    font-size: 3rem;
    font-weight: lighter;
  }

  a {
    padding: 1rem 2rem;
    background: $col-dark-brown;
    border-radius: 2.5rem;
    border: 3px solid $col-beige;
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    color: $col-light;
    text-decoration: none;
    font-size: 1.3rem;

    &:hover {
      background: $col-accent-light;
    }
  }
}

.popup {
  width: 60vw;
  min-height: 50vh;
  border: 1px solid black;
  border-radius: 1rem;
  background: $col-light;
  box-shadow: 0 0 10px black;
  position: fixed;
  top: 20vh;
  left: 20vw;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    font-size: 1.2rem;
  }

  span {
    font-size: 3rem;
    text-align: center;
    margin: 0;
  }

  button {
    background: $col-dark-brown;
    border: 1px solid $col-beige;
    color: $col-light;
    border-radius: 0.5rem;
    border: none;
  }

  .product-confirmation-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid b
  }

  .product-confirmation-display-price {
    margin-top: 1rem;
  }
}

.hidden {
  display: none;
}

.products {
  .product-grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    place-items: center;
  }

  .product-card {
    height: 20rem;
    width: 13rem;
    background: $col-light;
    border-radius: 1rem;
    overflow: hidden;

    .product-info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 50%;
      padding: 0.5rem;

      .product-selection {
        display: flex;
        justify-content: space-between;

        button {
          background: $col-dark-brown;
          border: 1px solid $col-beige;
          color: $col-light;
          border-radius: 0.5rem;
          border: none;
          padding: 2px 10px;
          cursor: pointer;

          &:hover {
            background: $col-accent-light;
          }
        }

      }
    }

    .image {
      height: 50%;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 0 -40px;
      }
    }
  }
}

#rating3stars,
#rating4stars,
#rating5stars {
  display: none;
}

.checked {
  color: orange;
}

.basket {
  max-width: 600px;

  h2 {
    text-align: center;
  }

  button {
    background: $col-dark-brown;
    border: 1px solid $col-beige;
    color: $col-light;
    border-radius: 0.5rem;
    padding: 0.3rem 1rem;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: $col-accent-light;
    }
  }

  .basket-bottom {
    display: flex;
    justify-content: space-between;
  }

  .message {
    color: $col-accent-dark;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .discount-info {
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }

  .discount-code {
    margin: 0 auto;
  }

  .buy-btn {
    margin-top: 5rem;
    padding: 1rem 3rem;

    a {
      text-decoration: none;
      color: $col-light;
    }
  }

  .item {
    display: flex;
    align-items: center;
    width: 100%;
    background: $col-light;
    border-radius: 0.8rem;
    padding: 0.5rem;
    margin-bottom: 1rem;

    img {
      margin-right: 1rem;
      border-radius: 0.8rem;
    }

    .item-content {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .item-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .item-selection {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        right: 0;

        button {
          height: 2rem;
          width: 1.5rem;
          border-radius: 0.5rem;
          border: none;
        }

        p {
          background: $col-white;
          width: 1.5rem;
          margin: 0.2rem;
          text-align: center;
          border-radius: 3px;
        }
      }
    }
  }
}

#form span {
  color: red;
  font-size: 1.5rem;
}

.fa-solid {
  color: seagreen;
}

.customer-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
}

.customer-info h3 {
  margin: 1.25rem 0;
  padding: 1rem;
}

.contact-form {
  text-align: left;
  margin: auto;
  padding: 0.625rem;
  border: 1px solid black;
  max-width: 50rem;
  min-height: 25vh;
}

.contact-form input {
  min-height: 30px;
}

.first-name,
.last-name,
.zip,
.city,
.portcode,
.phone {
  display: inline-block;
  width: 45%;
}

.last-name,
.city,
.phone {
  float: right;
}

.customer-info input {
  width: 100%;
  padding: 0.313rem;
  margin-top: 0.5rem;
}

.contact-form div {
  margin-top: 0.625;
}

/* Knapparna fortsätt och avbryt */

.btn-continue,
.btn-cancel {
  background-color: $col-dark-brown;
  color: #fff;
  position: relative;
  top: 20px;
  left: 120px;
  padding: 5px 10px;
}

.btn-continue {
  margin-right: 40px;
}

/* Välja Betalsätt */

.invoice {
  margin-bottom: 50px;
}

.payment-type {
  text-align: left;
}

.payment {
  position: relative;
  left: 30px;
  top: 20px;
  bottom: 30px;
  font-size: 1.2rem;
}

#paymentType_invoice {
  position: relative;
  left: -60px;
  height: 20px;
  top: -25px;
}

#paymentType_card {
  position: relative;
  left: -60px;
  height: 20px;
  top: -25px;
}


.payment-section {
  border: 1px solid black;
  min-height: 30vh;
  margin-top: 1.25rem;
}

/* Formulär personnr faktura */

.invoice-details {
  width: 80%;
  margin: auto;
}

.invoice-info {
  margin-top: 30px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.3rem;
  margin-bottom: 30px;
}

/* Kort-formulär */

.credit-card,
.invoice-details {
  width: 360px;
  height: 400px;
  margin: 80px auto 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, .10);
  display: none;
}

.form-header {
  height: 60px;
  padding: 20px 30px 0;
  border-bottom: 1px solid #e1e8ee;
}

.form-body {
  height: 340px;
  padding: 30px 30px 20px;
}

/* Title */
.title {
  font-size: 1.25rem;
  margin: 0;
  color: #5e6977;
}

/* Common */
.card-number input,
.cvv-input input,
.month select,
.year select {
  font-size: 1rem;
  font-weight: 100;
  line-height: 14px;
}

.card-number,
.cvv-details,
.cvv-input,
.month select,
.year select {
  color: #86939e;
}

/* Card Number */
.card-number input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #e1e8ee;
  border-radius: 6px;
}

/* Date Field */
.month select,
.year select {
  width: 145px;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #e1e8ee;
  border-radius: 6px;
}

.month select {
  float: left;
}

.year select {
  float: right;
}

/* Card Verification Field */
.cvv-input input {
  float: left;
  width: 145px;
  padding: 10px;
  border: 2px solid #e1e8ee;
  border-radius: 6px;
  background: #fff;
}

.cvv-details {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 16px;
  float: right;
  margin-bottom: 45px;
}

.cvv-details p {
  margin-top: 6px;
}

/* Buttons Section */
.proceed-btn,
.confirm-btn {
  cursor: pointer;
  font-size: 1.1rem;
  width: 100%;
  padding: 10px;
  border-color: transparent;
  border-radius: 6px;
  margin-bottom: 10px;
  background: $col-dark-brown;
}

.proceed-btn a,
.confirm-btn a {
  text-decoration: none;
  color: #fff;
}

.confirm-btn {
  margin-top: 50px;
}

.buy-button {
  position: relative;
  top: 30px;
  padding: 10px 130px;
  background-color: $col-dark-brown;
  color: #fff;
}