$col-white: #fff;
$col-light: #f0e4d4;
$col-beige: #dcbfa1;
$col-gray-brown: #7e6e5f;
$col-dark-brown: #3f2d21;
$col-accent-dark: #435046;
$col-accent-light: #8db4a2;
$col-black: #212427;

.landing-page {
  h1 {
    padding-top: 5rem;
    font-size: 6rem;
  }

  a {
    font-size: 1.3rem;
  }
}

section {
  max-width: 1000px;
}

.products {
  .product-grid {
    width: 1000px;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px 20px;
  }

  .product-card {
    height: 35rem;
    width: 100%;
    max-width: 31rem;

    .image {
      .btnHolder {
        bottom: 150px;
      }
    }

    .product-info {
      padding: 1rem;
      font-size: 1.3rem;

      .product-selection {
        margin-top: 40px;

      }
    }
  }
}

/* ***********************************
  Styling basket section
*********************************** */
.basket {
  margin: 2rem auto;

  .basket-bottom {
    font-size: 1.3rem;
  }

  .price-display :nth-child(3) {
    font-size: 2.2rem;
  }

  .message {
    font-size: 1.2rem;
    text-align: left;
    margin: 30px 0 30px 120px;
  }

  .discount-input {
    padding: 0;
  }

  .discount-info {
    margin: 30px 100px;
    padding: 40px;
    border: 1px solid black;
  }

  .discount-code {
    padding: 0.4rem;
  }

  .basket-btn {
    width: 770px;
    margin: 0 auto;
  }

  .item {
    padding: 2rem 6rem;
  }
}

.discount-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.discount-div {
  padding: 10px;
  justify-content: space-around;
}

/* ***********************************
   Styling customer info form
*********************************** */

.customer-info {
  flex-direction: row;
  margin: 2rem auto;
}

.contact-form {
  margin-right: 15px;
  max-height: 850px;
}

/* ***********************************
   The form with payment options
*********************************** */
.payment-section {
  margin-top: 0;
  margin-left: 15px;
}

.credit-card,
.invoice-details {
  width: 460px;
  height: auto;
}

/* ***********************************
   Footer
*********************************** */

#logoimg {
  width: 260px;
  height: 260px;
}

.contact {
  padding-top: 80px;
  font-size: 1.3rem;
}